#display-container {
    background-color: burlywood;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

#output-container {
    background-color: burlywood;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
#forms {
    background-color: burlywood;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
#formsPlaceholder {
    background-color: burlywood;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
};


